@{
    ViewBag.Title = "Home";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BlogHomePage</title>
</head>
<body>

   <!-- Блок тегов -->      
        <div class="Tags" style="float: left; width: 15%; padding: 10px; overflow: hidden; background-color: #fff; border: solid 1px rgba(0, 0, 0, 0.22); ">
            <h2>Теги</h2>
            <hr />
            @{
            //Вставка выбранных тегов
            foreach (var tag in ViewBag.tags)
            {
                <a href="#"><div>#@tag</div></a>
            }

            }
        </div>
    <!-- Блок фотографий-->
        <div class="Photo" style="float: left; text-align: center; width: 40%; margin-left: 5px; overflow-y: auto; max-height: 500px; background-color: #fff; border: solid 1px rgba(0, 0, 0, 0.22); ">
            <h3 style="margin-top: 5px; margin-bottom: 10px;">Последние фотографии</h3>
            @{
                    //Производим вставку фото в страницу
                    int i = 0;
    foreach (var photo in ViewBag.photo)
    {
        string dir = new DirectoryInfo(photo).Parent.Name;
        string file = Path.GetFileName(photo);
        string filepath = Path.Combine(dir,file);
        <img src="@filepath" style="margin: 10px; height:150px; width:150px" />
        i++;
        if (i > 5)
        { break; }
    }
            }

        </div>
    <!-- Блок записей -->
        <div class="BlogData" style="float: left; text-align: center; width: 40%; margin-left: 5px; overflow-y: auto;
                                max-height: 500px;">
            <h3 style="margin: 0; color: green">Последние записи блоггеров:</h3>
            <p></p>
            @{
            //Вставка записей блогов
            foreach (var blogs in ViewBag.data)
            {
                <div style="margin-bottom: 5px; padding: 5px; background-color: #fff; border: solid 1px rgba(0, 0, 0, 0.22)">
                    <div>
                        <div style="float: left">@@@blogs.Nick</div>
                        <div style="float: right">@blogs.DateStart.ToString("d MMM yyyy")</div>
                    </div>
                    <h4>@blogs.Title</h4>
                    <p></p>
                    <p>@blogs.Text</p>

                    <div>
                        <span>Likes: <a href="" style="color:green">@blogs.Like</a></span>
                        <span>Dislikes: <a href="" style="color:red">@blogs.Dislike</a> </span>
                    </div>
                </div>



            }

            }

            @Html.ActionLink("Посмотреть все записи", "Records", "Home") 

        </div>

</body>
</html>
