@model Blog.Models.RegisterModel

@{
    Layout = null;
}


@{
    ViewBag.Title = "Регистрация";
}
@Styles.Render("~/Content/bootstrap.css")
@Styles.Render("~/Content/Site.css")
<div class="col-sm-offset-4">
    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
    </hgroup>
</div>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="row">
        <div class="col-sm-7">
            <div class="col-sm-offset-1">
                <div class="form-group">
                    <div class="col-sm-5">
                        @Html.LabelFor(m => m.UserName)
                    </div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="row">
                <div class="col-sm-7">
                    <div class="col-sm-offset-1">
                        <div class="form-group">
                            <div class="col-sm-5">
                                @Html.LabelFor(m => m.Password)
                            </div>
                            <div class="col-sm-7">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7">
                    <div class="col-sm-offset-1">
                        <div class="form-group">
                            <div class="col-sm-5">
                                @Html.LabelFor(m => m.ConfirmPassword)
                            </div>
                            <div class="col-sm-7">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
       <div class="row">
           <div class="col-sm-offset-3">
               <button class="btn btn-success">Регистрация</button>
           </div>
       </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<p></p>
@Html.ActionLink("Вернуться на главную", "Index", "Home")